body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ul > li {
  margin: 0;
}

.body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

