.footer__wrapper {
  @include flex();

  flex-wrap: wrap;

  //padding: $px $px $px $px;

  //max-width: $px;

  //background: url(''), $color-background;

  @include media-laptop {
    @include flex(center, center, row);
  }

  @include media-tablet {

  }

  .contacts {
    @include flex(space-between, flex-start, column);

    //height: $px;
    //width: $px;

    @include media-tablet {
      //height: ;
      //width: ;
    }

    .contacts__item {

    }
  }

  .social {
    @include flex(space-between, flex-start, column);

    //height: $px;
    //width: $px;

    @include media-tablet {
      //height: $px;
      //width: $px;
    }

    .social__item {
      display: flex;
      align-items: center;

      @include media-tablet {

      }
    }
    .social__title {
      @include media-tablet {

      }
    }
  }
}
