.favourites-coffee {
  margin-top: 100px;

  .favourites-coffee__title{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;

    .favourites-coffee__cursive {
      color: $color-text-accent;
    }
  }
}