.grid-main-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
}

.grid-our-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
}

.grid-header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 60px;
}

.grid-enjoy {
  @include grid(100px 557px 1fr, 100px 444px 100px)
}

.grid-favourites-coffee {
  @include grid(60px 1fr 60px, 75px 640px 4px);
  row-gap: 40px;

  align-items: center;
}