.grid-main-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
}

.grid-our-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
}

.grid-header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 60px;
}

.grid-enjoy {
  @include grid(100px 530px 1fr, 100px 444px 100px)
}

.grid-favourites-coffee {
  @include grid(60px 1fr 60px, 75px 640px 4px);
  row-gap: 40px;

  align-items: center;
}

.grid-about {
  @include grid(1fr 1fr, 225px 430px 1fr 430px);

  gap: 40px;
}

.grid-mobile-app {
  @include grid(630px 1fr, 144px 1fr 144px);
}

.grid-footer {
  @include grid(100px 530px 100px 530px 100px, 100px 250px 100px);
}