.header {
  grid-row: 1 ;
  grid-column: 1;

  .header__wrapper {

    @include flex(space-between, flex-end, row);
    @include media-laptop {

    }
  }

  .logo__title {

  }

  .logo__text {
    @include font(rem, rem);
    color: $color-primary;
  }
}

.logo {

  @include media-laptop {

  }
  @include media-tablet {

  }
}

.header__navigation {
  @include media-tablet {

  }
}


