.navigation {
  @include flex(center,center,row);
  list-style-type: none;

  column-gap: 42.5px;

  height: 60px;

  margin-right: 12px;

  .navigation__link {
    text-decoration: none;

    @include font(1.6rem, 2.4rem, bold);

    color: $color-link;

    &:hover {
      color: $color-primary;
    }
  }

  @include media-laptop {

  }
}

.selected_link {
  text-decoration: underline !important;
  text-decoration-color: $color-primary !important;
  //text-decoration-thickness: $px !important;
  text-underline-position: under;
  color: $color-primary;
}





