@mixin font($size, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($cols, $rows) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
}

@mixin grid-chi($col, $row) {
  grid-column: $col;
  grid-row: $row;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}

@mixin media-intermediate {
  @media (max-width: $intermediate-width) { @content; }
}