$color-primary: #color;
$color-primary-light: #color;
$color-background: #color;
$color-link: #color;
$color-hovered-link: #color;
$color-text: #color;
$color-heading: #color;
$color-arrow: #color;
$color-border: #color;
$color-paragraph: #color;
$color-paragraph-m: #color;

$color-dark-s: #color;
$color-dark-2xl: #color;

$color-light-xl: #color;
$color-light-l: #color;
$color-light-s: #color;

$spacing: 0.06em;

$content-width: #px;
$tablet-width: #px;
$mobile-width: #px;

