.button {
  width: 200px;
  height: 64px;

  padding: 20px 78px 20px 78px;
  border-radius: 100px;
  border: none;

  @extend %font-prim;
  @include font(1.6rem, 2.4rem, bold);
  color: $color-text;

  background-color: $color-background;
  background: url("../../assets/icons/coffee-cup.svg") 100% 46% no-repeat;
  @extend %transition;
 &_menu {
   padding: 0;
   width: 100px;
   height: 60px;
 }

  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
}

.card__button {
  //width: $px;
  //height: $px;
  @extend %font-prim;
  @include font(rem, rem);
  //letter-spacing: $px;
  background-color: $color-light-xl;
  //border: $px solid $color-primary;
  border-radius: 30px;
  color: $color-arrow;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %transition;

  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
}

.button-long {
  //padding: $px $px;
  //border-radius: $px;

  @extend %font-prim;
  background-color: $color-primary;
  //border-radius: $px;
  border: none;
  //font-size: $px;
  //letter-spacing: $px;
  color: $color-arrow;
  //margin-top: $px;
  @extend %transition;

  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
}
