.button {
  width: 200px;
  height: 64px;

  padding: 20px 78px;
  border-radius: 100px;
  border: none;

  @extend %font-prim;
  @include font(1.6rem, 2.4rem, bold);
  color: $color-text;

  background-color: $color-background;

  @extend %transition;

 &_menu {
   width: 100px;
   height: 60px;

   padding: 0;

   background: url("../../assets/icons/coffee-cup.svg") 100% 46% no-repeat;

   display: inline-block;
   text-decoration: none;

   @include font(1.6rem, 2.4rem, bold);

   line-height: 150%;


   &::after {
     display: block;
     content: "";
     width: 0;
     height: 2px;
     margin: 0 auto;
     background-color: $color-border-dark ;
     @extend %transition;
   }

   &:hover::after,&:focus::after {
     width: 75%;
     margin-left: 30px;
     @extend %transition;
   }
 }

  &:hover {
    background-color: $color-primary;
    cursor: pointer;
  }

  &_mobile {
    border: 1px solid $color-border-dark ;
    padding: 5px 25px 6px 63px;
    cursor: pointer;

    @extend %transition;

    &:nth-child(1){
      background: url("../../assets/icons/contacts/Icon-apple.svg") no-repeat 13% 50%;
      &:hover{
        background: $color-border-dark url("../../assets/icons/contacts/Icon-apple-light.svg") no-repeat 13% 50%;
        color: $color-border-light;
        @extend %transition;
      }
    }
    &:nth-child(2){
      background: url("../../assets/icons/contacts/icon-google.svg") no-repeat 13% 50%;
      &:hover{
        background: $color-border-dark url("../../assets/icons/contacts/icon-google-light.svg") no-repeat 13% 50%;
        color: $color-border-light;
        @extend %transition;
      }
    }
  }
}

.card__button {
  //width: $px;
  //height: $px;
  @extend %font-prim;
  @include font(rem, rem);
  //letter-spacing: $px;
  background-color: $color-light-xl;
  //border: $px solid $color-primary;
  border-radius: 30px;
  color: $color-arrow;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %transition;

  &:hover {
    background-color: $color-primary;
    cursor: pointer;
  }
}

.socials__button {
  width: 60px;
  height: 60px;

  border-radius: 100%;

  border: 1px solid $color-border-light;


}

.animation {
  &:hover {
    background: $color-primary url("../../assets/icons/coffee-cup.svg") no-repeat 70% 50%;
    @extend %transition;
  }
}